body {
  background-color: #21222c;
}

/* 👇👇👇 Paste the styles of your Fancy Robot from the "Position it right" assignment here 👇👇👇 */

.robot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin-top: -60px;
}

.robot-face-shape {
  width: 500px;
  height: 500px;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  border: 10px solid #00ffff;
  border-radius: 30px;
  position: relative;
}

.robot-eye-left {
  width: 90px;
  height: 90px;
  background-image: url("https://picsum.photos/70");
  background-size: cover;
  border-radius: 50% / 30%;
  position: absolute;
  top: 90px;
  left: 95px;
  opacity: 0.5;
}

.robot-eye-right {
  width: 110px;
  height: 25px;
  background-color: #1e6f7a;
  position: absolute;
  top: 160px;
  right: 80px;
}

.robot-ear-left {
  width: 70px;
  height: 70px;
  background-color: #ccff00;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  left: 600px;
  top: 390px;
}

.robot-ear-right {
  width: 70px;
  height: 70px;
  background-color: #ff99ff;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
  right: 600px;
  top: 390px;
}

.robot-nose {
  width: 60px;
  height: 60px;
  background-color: orange;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    50% 60%,
    0% 60%,
    0% 40%,
    50% 40%
  );
  position: absolute;
  top: 250px;
  left: 47%;
  transform: translateX(-50%);
}

.robot-teeth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.robot-tooth {
  width: 30px;
  height: 20px;
  background-color: white;
  margin: 4px;
  border-radius: 0 0 8px 8px;
}

.robot-hair-style {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 48.7%;
  transform: translateX(-40%);
  gap: 30px;
  align-items: flex-end;
}

.robot-hair-one {
  width: 20px;
  height: 25px;
  background-color: green;
  border-radius: 5px;
}

.robot-hair-two {
  width: 30px;
  height: 35px;
  background-color: goldenrod;
  border-radius: 4px;
}

.robot-hair-three {
  width: 30px;
  height: 50px;
  background-color: deeppink;
  border-radius: 7px;
}
